@model Litz.Services.Group

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="padding: 20px;">
        <div class="form-group">
            <label>Nome</label>

            @Html.TextBoxFor(model => model.Name, new { @class = "form-control"})
        </div>

        <div class="form-group">
            <label>Cor</label>

            @Html.TextBoxFor(model => model.Color, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <button id="submit-tag" class="btn btn-default">Adicionar</button>
        </div>

        <section class="row" id="add-tag-response"></section>
    </div>
}

<script type="text/javascript">

    (function (app, $) {

        var utils = new app.Utils();

        $(document).ready(function () {
            $('#Color').spectrum({
                preferredFormat: "hex",
                color: "#f2f2f2"
            });

            $('#submit-tag').on('click', function (e) {
                e.preventDefault();

                var $form = $(this).closest('form');

                $.post($form.prop('action'), $form.serialize(), function (data) {
                    if (!data.HasError) {
                        utils.showAlert('Adicionado com sucesso', data.Message, 'success', $('#add-tag-response'));
                    }
                    else {
                        utils.showAlert('Falha ao cadastrar', data.Message, 'fail', $('#add-tag-response'));
                    }

                }).fail(function (data) {
                    utils.showAlert('Falha ao cadastrar', data.responseJSON.Message, 'fail', $('#add-tag-response'));
                });
            });
        });

    }(AppLitz, jQuery));

</script>